.mainContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    height: 0vh; 
    margin-top: 20px;
}



.cell {
    background: #456882;
    height: 75px;
    width: 75px;
    border-radius: 5px;
    color: white;
    font-size: 65px;
    text-align: center;
    font-family: serif;
}

.keys {
    background: #1B3C53;
    height: 90px;
    width: 90px;
    border-radius: 5px;
    color: white;
    font-size: 75px;
    text-align: center;
    font-family: serif;
}

button {
    background: #5C5470;
    height: 100px;
    width: 250px;
    border-radius: 15px;
    color: white;
    font-size: 85px;
    text-align: center;
    font-family: serif;
    margin-left: 400px;
}

.wordContainer {
    display: grid;
    grid-template-columns: repeat(5, 90px);
    grid-template-rows: repeat(6, 90px);
    height: 450px;
    width: 375px;
    gap: 0px;
    margin-bottom: 55px;
    margin-left: 0px;
    margin-top: 0px;
}

.firstKeyboard {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    height: 100px;
    width: 1000px;
    gap: 4px;
    margin-top: 70px;
    margin-bottom: 10px;
}

.secondKeyboard {
    display: grid;
    grid-template-columns: repeat(9, 100px);
    height: 100px;
    width: 900px;
    gap: 4px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.thirdKeyboard {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    height: 100px;
    width: 700px;
    gap: 4px;
    margin-bottom: 10px;
    margin-left: 60px;
}

body {
    background-color: gainsboro;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90px;
    margin-left: 70px;
    margin-top: 0;
    margin-bottom: 20px;
}

h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin-left: 70px;
    margin-top: 0;
    margin-bottom: 20px;
}

.green{
    background-color: #78C841;
}

.yellow{
    background-color: #FCF259;
}

.gray{
    background-color: gray;
}

.red{
    background-color: rgba(255, 0, 0, 0.845);
}

